<div class="component">
    <div class="card mb-4">
        <div class="card-header">
            <img class="card-img" src="@("img/"+Image)" alt="ProjectImage">
        </div>
        <div class="card-body">
            <span class="badge badge-success mb-2">@Category</span>
            <h4 class="card-title">@Title</h4>
            <p class="card-text">@Description</p>
        </div>
        <div class="card-footer">
            <a href="#a" class="btn btn-primary">Read More</a>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Category { get; set; }

    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public string Image { get; set; }

}