<div class="testimonial d-flex flex-column align-items-center">
    <div class="big-bubble bg-info bubble-top-left"></div>
    <p class="lead font-italic">"Lazy kit impressed me on multiple levels. It's the perfect solution for our business. Thank you so much for your help. Best. Product. Ever!"</p>
    <p>
        <b>Cathee V.</b>,<br />
        Web Developer
    </p>
</div>

@code {

}
