@page "/"

<div class="page-hero bg-info text-white" id="banner">
    @*Bubbles*@
    <Bubbles></Bubbles>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8  offset-lg-2 text-center">
                <div class="title">
                    <h3 class="text-white display-2 ">Hi My Name is Nicolas Maluleke</h3>
                    <h4>I am a C# FullStack Software Developer</h4>
                    <div class="col-12 col-lg-8 my-5  offset-lg-2 text-center row">
                        <div class="col-6">
                            <button class="mx-3 btn btn-primary">Get to know me</button>
                        </div>
                        <div class="col-6">
                            <button class="mx-3 btn btn-primary">Check my Resume</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<AboutMeSection></AboutMeSection>
<Projects></Projects>
<BottomFooter></BottomFooter>